@charset "utf-8";
/* CSS Document */


body{
	margin: 0 auto;
}

.info{
	clear:both;
	margin:0px auto 50px;
	
}
.info .infoarea{
	float: left;
	padding: 10px;
	width: 23%;
}
.info .infoarea img{
	width: 100%;
	
}
.info >p{
	font-size: 28px;
	padding-top: 20px;
	font-weight: bold;
}
li {
	list-style-type: none;
}

.pagination {
	clear: both;
	text-align: center;
	padding-top: 150px;
}

#footer{
	box-sizing: border-box;
	height: 40px;
	bottom: 0;
	width: 100%;
	background-color: #123456;
	color: white;
	padding-top: 10px;
	margin-top: 20px;
	text-align: center;
}