<style>

#container{
	margin: 0 auto;
    padding: 0 25px;
    max-width: 1220px;

}

.main{
	padding: 1.5em 0;	
	
	
	
}
.msg{
	font-size: 1.75em;
    padding: 0;
    margin: 2em 0 0;
}
.title{
    padding-bottom: 6px;
    line-height: 32px;
}

input{
	width:300px;
	height:35px;
}

.word{
	float: left;
}

.field-box{
	max-width: 530px;
	margin-left: 6em;
}

.field{
	    display: block;
    width: 100%;
    height: 38px;
    padding: 0 0.5em;
    border: 1px solid #ddd;
    background: #fff;
    margin-bottom: 0.3em;
}

textarea.field {
    height: auto;
    padding: 0.25em 0.5em;
}
.send{
	padding: 4em 0;
	letter-spacing: 1.5em;
	text-align:center;
	width:500px;
}


</style>